services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    environment:
      - TZ=Asia/Seoul
    network_mode: "host"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./logs:/var/log/nginx
